
// ========================================Общие параметры============================================ 
/* -----------------------Общие стили--------------------------*/
/* --------------------Контейнер-------------------- */

[class*="__container"] {
	max-width: $containerWidth; 
	margin: 0px auto;
	padding: 0px 15px; // отступы безопасности 
}
/* ------------------------------------------------- */

/* ----------------------Body----------------------- */
body {
	line-height: 1;
	font-family: $fontFamily;
	color: $mainColor;
	background-color: $mainBg2;
	// Скролл заблокирован
	._lock & {
		overflow: hidden;
	}
}
/* ------------------------------------------------- */

/* --------------Оболочка wrapper------------------- */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	//padding: 20px;
	display: flex;
	flex-direction: column;
    // Прибиваем футер к низу, позволив блоку main увеличиваться
    > main {
        flex: 1 1 auto;
    }
}
/* ------------------------------------------------- */

/* --------------------ibg-------------------------- */
[class*="_ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		// object-position: top;
	}
}
/* ------------------------------------------------- */


/* ---------------------btn------------------------- */
.btn {
	color: #000;
	text-align: center;
	font-weight: 700;
	font-family: inherit;
	line-height: 1.5; /* 150% */
	border-radius: 6px;
	padding: 12px 32px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}
/* ------------------------------------------------- */


/* --------------------logo------------------------- */
.logo {
	height: 36px;
	img {
			max-width: 100%;
	}
	@media (max-width: $tablet) {
		height: 26px;
	}
}
/* ------------------------------------------------- */


/* -----------------------/Общие стили-------------------------*/
// =========================================/Общие параметры========================================== 